@mixin btn {
    background-color: #4F5955;
    color: #F2EDDC;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 3px;
    font-family: "Poppins", sans-serif;
    margin-left: 18rem;
}
