@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import '_mixins-media.css';
@import '_mixins-media.min.css';
.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

/*.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;

    @mixins desktop {
        grid-template-rows: auto auto 1fr auto;
    }
}
*/
.header .container .address-socialmedia {
  background-color: #4F5955;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  width: 99vw;
  box-sizing: border-box;
  align-items: center;
}
.header .container .address-socialmedia .address {
  margin-left: 10rem;
}
.header .container .address-socialmedia .address .address-ingress {
  color: #FFFFFF;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin-left: 10rem;
}
.header .container .address-socialmedia .socialmedia {
  display: flex;
  margin-right: 15rem;
}
.header .container .address-socialmedia .socialmedia .meta {
  border-left: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding-right: 1px;
  padding-top: 10px;
  padding-left: 10px;
}
.header .container .address-socialmedia .socialmedia .x {
  color: #FFFFFF;
  border-left: 1px solid #FFFFFF;
  padding-top: 10px;
  padding-left: 10px;
}
.header .container .address-socialmedia .socialmedia .linkedIn {
  color: #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.header .container .address-socialmedia .socialmedia .meta {
  margin-right: 10px;
}
.header .container .address-socialmedia .socialmedia .x {
  margin-right: 10px;
}
.header .container .navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.header .container .navigation-bar img {
  margin-left: 20rem;
  width: 8rem;
  height: auto;
}
.header .container .navigation-bar .site-navigation {
  display: flex;
  justify-content: space-around;
  width: 45%;
  margin-right: 6rem;
  gap: -80px;
}
.header .container .navigation-bar .site-navigation a {
  color: #4F5955;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.header .container .navigation-bar .fa-magnifying-glass {
  position: absolute;
  margin-left: 101rem;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero .background {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.hero .container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .container .hero-content {
  text-align: left;
  margin-top: 2rem;
}
.hero .container .hero-content .headline {
  color: red;
  width: 550px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 2rem;
  font-size: 70px;
  font-family: "Poppins", sans-serif;
  margin-left: 18rem;
}
.hero .container .hero-content .ingress {
  color: #4F5955;
  width: 580px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 16px;
  margin-bottom: 3rem;
  font-family: "Poppins", sans-serif;
  margin-left: 18rem;
}
.hero .container .hero-content .btn {
  background-color: #4F5955;
  color: #F2EDDC;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
  margin-left: 18rem;
}

.about-us {
  margin-top: -350px;
  margin-left: 18rem;
}
.about-us .container .content .headline {
  font-family: "Poppins", sans-serif;
  color: #4F5955;
  font-size: 16px;
}
.about-us .container .content .headline h5 {
  color: #D9C3A9;
  font-size: 14px;
  font-weight: bold;
}
.about-us .container .content .quote {
  font-family: "Poppins", sans-serif;
  color: #7B7B7B;
  margin: 0;
  padding: 0;
  text-indent: 0;
}
.about-us .container .content p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #535656;
}
.about-us .container .content .signature-container .signature .clarification {
  font-family: "Poppins", sans-serif;
}
.container {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}
