@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../mixins/_mixins-typography.scss';
@import '../mixins/_mixinx-content.scss';
@import '../mixins/_mixins-buttons.scss';

.header {


    .container {



        .address-socialmedia {
            background-color: #535656;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;
            width: 98.8vw;
            box-sizing: border-box;
            align-items: center;
            overflow: hidden;


            .address {
                margin-left: 10rem;

                .address-ingress {
                    color: #FFFFFF;
                    font-family: "Poppins", sans-serif;
                    font-size: 13px;
                    margin-left: 10rem;
                }
            }

            .socialmedia {
                display: flex;
                margin-right: 15rem;
            }

            .socialmedia .meta {
                border-left: 1px solid #FFFFFF;
                color: #FFFFFF;
                padding-right: 1px;
                padding-top: 10px;
                padding-left: 10px;
            }

            .socialmedia .x {
                color: #FFFFFF;
                border-left: 1px solid #FFFFFF;
                padding-top: 10px;
                padding-left: 10px;
            }

            .socialmedia .linkedIn {
                color: #FFFFFF;
                border-right: 1px solid #FFFFFF;
                border-left: 1px solid #FFFFFF;
                padding-top: 10px;
                padding-left: 10px;
                padding-right: 10px;
            }

            .socialmedia .meta {
                margin-right: 10px;
            }

            .socialmedia .x {
                margin-right: 10px;
            }
        }

        .navigation-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;
            margin-bottom: 1rem;

            img {
                margin-left: 20rem;
                width: 8rem;
                height: auto;
            }

            .site-navigation {
                display: flex;
                justify-content: space-around;
                width: 45%;
                margin-right: 6rem;
                gap: -80px;
            }

            .site-navigation a {
                color: #4F5955;
                font-family: "Poppins";
                font-size: 16px;
                font-weight: 600;
                text-decoration: none;
            }

            .fa-magnifying-glass {
                position: absolute;
                margin-left: 101rem;
            }
        }
    }
}









.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .background {
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .container {
        position: relative;
        z-index: 2;
        //text-align: center;
        //padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        //align-items: center;



        .hero-content {
            text-align: left;
            //align-items: center;
            //margin-right: 40rem;
            margin-top: 2rem;


            .hero-headline {
                color: #535656;
                width: 550px;
                word-wrap: break-word;
                overflow-wrap: break-word;
                margin-bottom: 2rem;
                font-size: 70px;
                font-family: "Poppins", sans-serif;
                margin-left: 18rem;
            }

            .ingress {
                color: #4F5955;
                width: 580px;
                word-wrap: break-word;
                overflow-wrap: break-word;
                font-size: 16px;
                margin-bottom: 3rem;
                font-family: "Poppins", sans-serif;
                margin-left: 18rem;
            }

            .btn {
                background-color: #4F5955;
                color: #F2EDDC;
                text-decoration: none;
                padding: 15px 40px;
                border-radius: 3px;
                font-family: "Poppins", sans-serif;
                margin-left: 18rem;
            }
        }
    }
}

.about-us {
    margin-top: -350px;
    margin-left: 18rem;

    .container {
        .content {
            .about-us-headline {
                font-family: "Poppins", sans-serif;
                color: #4F5955;
                font-size: 16px;

                h5 {
                    color: #D9C3A9;
                    font-size: 14px;
                    font-weight: bold;
                }

                h2 {
                }
            }

            .quote {
                font-family: "Poppins", sans-serif;
                color: #7B7B7B;
                margin: 0;
                padding: 0;
                text-indent: 0;
            }

            p {
                font-family: "Poppins", sans-serif;
                font-size: 14px;
                color: #535656;
            }

            .signature-container {
                .signature {

                    .signature-image {
                    }

                    .clarification {
                        font-family: "Poppins", sans-serif;
                    }
                }
            }

            .form-container {
            }
        }
    }
}

.our-services {

    .container {
        background-color: #F7F7F7;
        height: 100vh;

        .our-services-content {
            font-family: "Poppins", sans-serif;
            color: #4F5955;
            font-size: 16px;
            padding-top: 4rem;

            h5 {
                color: #D9C3A9;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
            }

            h2 {
                font-size: 40px;
                @include headings;
            }
        }
    }
}

.trusted {
    .worldmap-img {
        position: absolute;
        left: 300px;
        z-index: 1;
    }

    .container {
        position: relative;
        z-index: 2;

        .trusted-content {
            margin-bottom: 3rem;

            h2 {
                @include headings;
                text-align: center;

                .highlight {
                    color: #D9C3A9;
                    font-weight: bold;
                }
            }

            p {
                @include text;
            }
        }

        a {
            @include btn;
            margin-left: 52.5rem;
            margin-top: 3rem;
        }


        .people-img {
            margin-left: 355px;
            margin-top: 80px;

            .people {
            }
        }
    }
}

.success-story {
    background-color: #4F5955;
    height: 100vh;
    margin-top: -30px;

    .container {


        .success-story-headline {
            h5 {
                font-size: 14px;
                font-weight: bold;
                color: #D9C3A9;
                font-family: "Poppins", sans-serif;
                text-align: center;
                padding-top: 90px;
            }

            h2 {
                font-size: 40px;
                font-weight: bold;
                color: #FFFFFF;
                font-family: "Poppins", sans-serif;
                text-align: center;
                margin-top: -30px;
            }
        }

        .success-story-numbers-div {
            display: flex;
            justify-content: center;



            .numbers-left {
                .number {
                    font-size: 90px;
                    font-weight: 600;
                    color: #D9C3A9;
                    font-family: "Poppins", sans-serif;
                    text-align: left;
                }

                p {
                }
            }

            .numbers-middle {
                .number {
                    font-size: 90px;
                    font-weight: 600;
                    color: #D9C3A9;
                    font-family: "Poppins", sans-serif;
                    text-align: center;
                    margin-left: 120px;
                }

                p {
                }
            }

            .numbers-right {
                .number {
                    font-size: 90px;
                    font-weight: 600;
                    color: #D9C3A9;
                    font-family: "Poppins", sans-serif;
                    text-align: right;
                    margin-right: 100px;
                }

                p {
                }
            }
        }

        img {
        }

        .worldMap {
        }
    }
}