@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.header {
    width: 100%;
    overflow: hidden;

    .container {

        .address-socialmedia {
            background-color: #4F5955;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2px 10px;


            .address {


                .address-ingress {
                    color: #FFFFFF;
                    font-family: "Poppins", sans-serif;
                    font-size: 13px;
                }
            }

            .socialmedia {

                .meta {
                    color: #FFFFFF;
                    border-right: 1px solid #FFFFFF;
                    border-left: 1px solid #FFFFFF;
                }

                .x {
                    color: #FFFFFF;
                    border-right: 1px solid #FFFFFF;
                    border-left: 1px solid #FFFFFF;
                }

                .linkedIn {
                    color: #FFFFFF;
                    border-right: 1px solid #FFFFFF;
                    border-left: 1px solid #FFFFFF;
                }
            }
        }
    }
}








.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .background {
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .container {
        position: relative;
        z-index: 2;
        //text-align: center;
        //padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
           


        .hero-content {
            text-align: left;
            align-items: center;
            margin-right: 40rem;
            margin-top: 2rem;


            .headline {
                color: #535656;
                width: 550px;
                word-wrap: break-word;
                overflow-wrap: break-word;
                margin-bottom: 2rem;
                font-size: 70px;
                font-family: "Poppins", sans-serif;
            }

            .ingress {
                color: #4F5955;
                width: 580px;
                word-wrap: break-word;
                overflow-wrap: break-word;
                font-size: 16px;
                margin-bottom: 3rem;
                font-family: "Poppins", sans-serif;
            }

            .btn {
                background-color: #4F5955;
                color: #F2EDDC;
                text-decoration: none;
                padding: 15px 40px;
                border-radius: 3px;
                font-family: "Poppins", sans-serif;
            }
        }
    }
}
