@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
	var pageTitle = !string.IsNullOrEmpty(ViewBag.Title) ? $"{ViewBag.Title} | Onatrix - Financial Solutions for Your Business" : "Onatrix - Financial Solutions for Your Business";

	var keywordsList = Model.Value<IEnumerable<string>>("pageKeywords");
	var keywords = keywordsList != null ? string.Join(", ", keywordsList) : "";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="AtModel.Value(" pageDescription")">
	<meta name="keywords" content="Atkeywords">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://kit.fontawesome.com/a576612222.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/main.css">
  <title>@pageTitle</title>
</head>
<body>
	<div class="wrapper">
		<header></header>

		<main>
			@RenderBody()
		</main>

		<footer></footer>
	</div>


	<script src="/scripts/main.js"></script>
</body>
</html>










